<nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: #7bdcdf; height: 50px;">
  <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="/images/Blacklogo.png" alt="MoroccoCamps Logo" style="width: 185px; height: 45px;"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
              <a class="nav-link" href="/" >Home</a>
              <a class="nav-link" href="/campgrounds" >Campgrounds</a>
              <a class="nav-link" href="/campgrounds/new" >New Camp</a>
          </div>
      </div>
  </div>
</nav>

